$primary-clr: #13315C !default;
$secondary-clr: #Ef233C !default;
$tertiary-clr: #EDF2FB !default;
$text-primary: #3d5a80 !default;
$highlight-primary: #f4d35e !default;
$highlight-secondary: #9d4edd !default;
$highlight-tertiary: #1f7a8c !default;