* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, :after, :before {
  box-sizing: border-box;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  background-color: #EDF2FB;
  font-family: "Montserrat";
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 50px;
}

::-webkit-scrollbar-track-piece {
  background: #dee2e6;
}

::-webkit-scrollbar-thumb {
  background: #13315C;
  border-radius: 10px;
  height: 1px !important;
}

.portfolio-header {
  background-color: rgba(255, 255, 255, 0.2);
  height: 100vh;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 290px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
  transform: translateX(0);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 30px;
}
.portfolio-header .profile-info {
  width: 100%;
  text-align: center;
}
.portfolio-header .profile-info .profile-pic {
  width: 90px;
  border-radius: 50%;
}
.portfolio-header .profile-info .profile-name {
  font-size: 20px;
  font-weight: 600;
  color: #13315C;
  margin-bottom: 8px;
}
.portfolio-header .profile-info .social-links li {
  display: inline-block;
  margin-right: 10px;
}
.portfolio-header .profile-info .social-links li a {
  background-color: #13315C;
  color: #fff;
  width: 28px;
  height: 28px;
  line-height: 28px;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  transition: all 0.2s linear;
}
.portfolio-header .profile-info .social-links li a:hover {
  background-color: #Ef233C;
  color: #fff;
}
.portfolio-header nav .nav-menu {
  list-style: none;
  padding: 0;
  margin: 60px 0;
}
.portfolio-header nav .nav-menu li {
  list-style: none;
  padding: 10px 0;
}
.portfolio-header nav .nav-menu li a {
  font-weight: 600;
  color: #13315C;
  transition: all 0.2s linear;
}
.portfolio-header nav .nav-menu li a:hover {
  color: #Ef233C;
}
.portfolio-header nav .nav-menu li i {
  margin-right: 15px;
}
.portfolio-header .menu-footer {
  margin-top: auto;
  color: #13315C;
  font-weight: 600;
}

main.content {
  margin-left: 290px;
  transition: all 0.3s ease-in-out;
}

#home {
  position: relative;
  background-image: url("/assets/images/bg-home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  min-height: 100vh;
}
#home .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(237, 241, 251, 0.8);
}

.intro {
  position: relative;
  z-index: 1;
  line-height: 1;
  padding: 100px 0 0 100px;
  color: #13315C;
}
.intro .banner-title {
  font-size: 70px;
  margin-bottom: 0px;
  font-weight: 700;
}
.intro .work-intro {
  font-size: 45px;
  font-weight: 500;
}
.intro .txt-type .txt {
  border-bottom: 2px solid #Ef233C;
}
.intro .txt-type .txt > .typewriter-cursor {
  color: #13315C;
  -webkit-animation: blink 0.5s ease infinite;
          animation: blink 0.5s ease infinite;
}

#about .card-fact {
  display: flex;
  align-items: flex-start;
  color: #13315C;
  line-height: 1;
}
#about .card-fact i {
  margin-right: 15px;
  font-size: 40px;
  opacity: 0.4;
}
#about .card-fact-body {
  flex: 1;
}
#about .card-fact-body p {
  font-size: 18px;
  font-weight: 500;
  color: #3d5a80;
  margin-bottom: 0;
}
#about .card-fact-title {
  font-size: 30px;
  font-weight: 600;
  color: #13315C;
}
#about em {
  font-style: normal;
}

@-webkit-keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
section {
  padding: 60px 0;
}

.bottom-spacer {
  margin-bottom: 40px;
}

.bottom-spacer-lg {
  margin-bottom: 70px;
}

.clr-primary {
  color: #13315C;
}

.clr-secondary {
  color: #Ef233C;
}

.section-heading {
  position: relative;
  font-size: 36px;
  color: #13315C;
  font-weight: 700;
}
.section-heading::before {
  content: "";
  background-image: url(/assets/images/icons/bg-heading.svg);
  position: absolute;
  top: -8px;
  left: -15px;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  opacity: 0.1;
  z-index: -1;
}

.heading-regular {
  font-size: 20px;
  font-weight: 700;
  color: #13315C;
}

.heading-md {
  font-size: 26px;
  font-weight: 700;
  color: #13315C;
}

.section-paragraph {
  font-size: 16px;
  font-weight: 500;
  color: #3d5a80;
}

.text-sm {
  font-size: 14px !important;
}

.text-regular {
  font-weight: 400 !important;
}

.text-medium {
  font-weight: 500 !important;
}

.text-semibold {
  font-weight: 600 !important;
}

.text-bold {
  font-weight: 700 !important;
}

.rounded-primary {
  border-radius: 20px;
}

.img-lg {
  width: 160px;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}

.triangle-left {
  position: relative;
}
.triangle-left::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 15px solid #fff;
  position: absolute;
  left: -15px;
  top: 20%;
}

.progress {
  height: 0.4rem;
}

.testimonial-wrapper.slick-slider .slick-list {
  padding: 10px 0;
}
.testimonial-wrapper.slick-slider .slick-dots li {
  height: auto;
}
.testimonial-wrapper.slick-slider .slick-dots li button {
  padding: 0;
  background-color: #Ef233C;
  opacity: 0.5;
  border-radius: 20px;
  height: 5px;
  width: 10px;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}
.testimonial-wrapper.slick-slider .slick-dots li button::before {
  content: "";
}
.testimonial-wrapper.slick-slider .slick-dots li.slick-active button {
  opacity: 1;
  width: 20px;
}
.testimonial-wrapper.slick-slider .slick-arrow {
  width: 50px;
  height: 50px;
  background-color: #13315C;
  z-index: 1;
  transition: all 0.3s linear;
}
.testimonial-wrapper.slick-slider .slick-arrow:hover {
  background-color: #Ef233C;
}

.bg-highlight-primary {
  background-color: #f4d35e;
}

.bg-highlight-secondary {
  background-color: #9d4edd;
}

.bg-highlight-tertiary {
  background-color: #1f7a8c;
}

.bg-block-primary {
  background-color: #ffffff;
}

.btn-pfolio {
  display: inline-block;
  font-size: 16px;
  padding: 10px 25px;
  border-radius: 25px;
  line-height: 1;
  text-align: center;
  border: 0;
}

.btn-pfolio-primary {
  background: #13315C;
  color: #fff;
}
.btn-pfolio-primary:hover {
  background: #13315C;
  color: #fff;
}

#testimonials .testimonial-item.slider-item > p {
  position: relative;
  padding: 30px;
  margin-bottom: 0;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 40px;
}
#testimonials .testimonial-item.slider-item > p::after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #fff;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}
#testimonials .testimonial-item.slider-item .client {
  display: table;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  margin: 0 auto;
}
#testimonials .testimonial-item.slider-item .client img, #testimonials .testimonial-item.slider-item .client div {
  display: inline-block;
}
#testimonials .testimonial-item.slider-item .client img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  vertical-align: top;
}
#testimonials .testimonial-item.slider-item .client .client-info {
  margin-left: 30px;
  position: relative;
}
#testimonials .testimonial-item.slider-item .client .client-info .name {
  font-size: 21px;
  font-weight: 800;
  color: #13315C;
  margin-bottom: 2px;
}
#testimonials .testimonial-item.slider-item .client .client-info .occuption {
  color: #3d5a80;
  font-weight: 500;
  margin-bottom: 10px;
}
#testimonials .testimonial-item.slider-item .client .client-info .rating i {
  color: #f4d35e;
}

.shadow-primary {
  box-shadow: 1px 1px 16px -7px rgba(19, 49, 92, 0.5);
}

.shadow-highlight-primary {
  box-shadow: 1px 1px 16px -2px rgba(244, 211, 94, 0.6);
}

.shadow-highlight-secondary {
  box-shadow: 1px 1px 16px -2px rgba(157, 78, 221, 0.6);
}

.shadow-highlight-tertiary {
  box-shadow: 1px 1px 16px -2px rgba(31, 122, 140, 0.6);
}

#services .service-box {
  text-align: center;
  padding: 20px;
  transition: all 0.3s ease-in-out;
}
#services .service-box:hover {
  transform: translateY(-10px);
}
#services .service-box img {
  width: 140px;
  margin-bottom: 15px;
}
#services .service-box p {
  color: #fff;
  margin-bottom: 0;
}

#experience .timeline-block {
  position: relative;
  padding: 30px;
}
#experience .timeline-block .timeline-container {
  position: relative;
  padding-left: 30px;
  margin-bottom: 20px;
}
#experience .timeline-block .timeline-container:last-child {
  margin-bottom: 0;
}
#experience .timeline-block .timeline-container .heading-md {
  margin: 5px 0;
  line-height: 1;
}
#experience .timeline-block .timeline-container p {
  margin-bottom: 0;
}
#experience .timeline-block span.line {
  width: 1px;
  position: absolute;
  top: 30px;
  bottom: 30px;
  left: 30px;
  background-color: #Ef233C;
}
#experience .timeline-block.academics .timeline-container:after {
  content: "\e902";
  font-family: "nav";
  position: absolute;
  top: 0;
  left: -10px;
  z-index: 1;
  color: #Ef233C;
}
#experience .timeline-block.experience .timeline-container:after {
  content: "\e903";
  font-family: "nav";
  position: absolute;
  top: 0;
  left: -7px;
  z-index: 1;
  color: #Ef233C;
}

#works .portfolio-filter-menu li {
  display: inline-block;
  margin-right: 30px;
}
#works .portfolio-filter-menu li:last-child {
  margin-right: 0;
}
#works .portfolio-filter-menu li button {
  border: 0;
  background: transparent;
  font-size: 24px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
#works .portfolio-filter-menu li button.active {
  color: #Ef233C;
}
#works .portfolio-wrapper .portfolio-container a {
  display: block;
}
#works .portfolio-wrapper .portfolio-container .portfolio-item {
  position: relative;
  background-color: #ffffff;
  width: 100%;
  padding: 20px;
  cursor: pointer;
}
#works .portfolio-wrapper .portfolio-container .portfolio-item img {
  width: 100%;
  height: 250px;
  max-height: 250px;
}
#works .portfolio-wrapper .portfolio-container .portfolio-item .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#works .portfolio-wrapper .portfolio-container .portfolio-item .type {
  background-color: #Ef233C;
  padding: 8px 10px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 20px;
  transform: translateY(-42px);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s linear;
}
#works .portfolio-wrapper .portfolio-container .portfolio-item .title {
  color: #fff;
  font-size: 22px;
  padding-left: 20px;
  position: absolute;
  top: 70px;
  transform: translateY(60px);
  opacity: 0;
  transition: all 0.3s linear;
  z-index: 1;
  font-weight: 600;
}
#works .portfolio-wrapper .portfolio-container .portfolio-item .gallery-btn {
  display: block;
  position: absolute;
  font-size: 20px;
  left: 20px;
  bottom: 20px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background-color: #f4d35e;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s linear;
}
#works .portfolio-wrapper .portfolio-container .portfolio-item:hover .type {
  opacity: 1;
  transform: translateY(0);
}
#works .portfolio-wrapper .portfolio-container .portfolio-item:hover .title {
  opacity: 1;
  transform: translateY(0);
}
#works .portfolio-wrapper .portfolio-container .portfolio-item:hover .overlay-block {
  opacity: 0.9;
}
#works .portfolio-wrapper .portfolio-container .portfolio-item:hover .gallery-btn {
  opacity: 1;
}
#works .portfolio-wrapper .portfolio-container .portfolio-item .overlay-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #9d4edd;
  border-radius: 20px;
  transition: all 0.3s linear;
  opacity: 0;
}

#contact .contact-form-left {
  min-height: 250px;
  background-image: url("/assets/images/bg-contact.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#contact #contact_form input, #contact #contact_form textarea {
  border: 0;
  border-radius: 20px;
}/*# sourceMappingURL=style.css.map */