.shadow-primary{
    box-shadow: 1px 1px 16px -7px rgba(19, 49, 92, .5);
}
.shadow-highlight-primary{
    box-shadow: 1px 1px 16px -2px rgba(244, 211, 94, .6);
}
.shadow-highlight-secondary{
    box-shadow: 1px 1px 16px -2px rgba(157, 78, 221, .6);
}
.shadow-highlight-tertiary{
    box-shadow: 1px 1px 16px -2px rgba(31, 122, 140, .6);
}