
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, :after, :before {
    box-sizing: border-box;
}

ul, li{
    list-style: none;
    padding: 0;
    margin: 0;
}

body{
    background-color: $tertiary-clr;
    font-family: 'Montserrat';
}

a{
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

    &:hover{
        text-decoration: none;
    }
}

::-webkit-scrollbar {
    width: 5px;
    height: 50px;
}
::-webkit-scrollbar-track-piece {
    background: #dee2e6;
}
::-webkit-scrollbar-thumb {
    background: $primary-clr;
    border-radius: 10px;
    height: 1px !important;
}