.bg-highlight-primary{
    background-color: $highlight-primary;
}
.bg-highlight-secondary{
    background-color: $highlight-secondary;
}
.bg-highlight-tertiary{
    background-color: $highlight-tertiary;
}